@using PayrollEngine.Client.Model
<MudDialog Style="min-width: 40em" TitleClass="mud-theme-primary pe-dialog-title">
    <DialogContent>
        <MudForm @ref="form">
            <MudTextField T="string"
                          Label="@Field.ActionLabel"
                          HelperText="@(Item.GetItemHelp(Field) ?? Localizer.Action.ActionExpression)"
            @bind-Value="@Action.Action"
                          ReadOnly="@Item.IsReadOnlyField(Field)"
                          Clearable="true"
                          Required="true"
                          Style="font-family: monospace; font-size: medium;"
                          RequiredError="@Localizer.Error.RequiredField(Field.ActionLabel)"
                          Lines="Field.Lines" />
            @if (Categories != null && Categories.Count > 2)
            {
                <MudChipSet T="string" SelectionMode="SelectionMode.SingleSelection" SelectedValue="SelectedCategory"
                            SelectedValueChanged="SelectedCategoryChanged" Class="py-4">
                    @foreach (var category in Categories)
                    {
                        <MudChip Text="@category.Label"
                                 Default="@string.Equals(category.Label, Localizer.Shared.All)"
                                 Variant="@Globals.ButtonVariant" SelectedColor="Color.Primary" />
                    }
                </MudChipSet>
            }

            <MudDataGrid T="ActionInfo"
                         Height="30em"
                         FixedHeader="true"
                         Dense="true"
                         Items="@CategoryActions"
                         Filterable="true"
                         FilterMode="DataGridFilterMode.ColumnFilterRow"
                         ShowFilterIcons="false">
                <Columns>
                    <PropertyColumn Property="x => x.GetExpressionTemplate()" Title="@Localizer.Action.Action" />
                    <PropertyColumn Property="x => x.Description" Title="@Localizer.Shared.Description" />
                    <TemplateColumn T="ActionInfo" ShowColumnOptions="false"
                                    ShowFilterIcon="false"
                                    Sortable="false">
                        <CellTemplate>
                            <MudStack Row="true">
                                <MudTooltip Delay="1000" Placement="Placement.Top">
                                    <ChildContent>
                                        <MudIcon Color="Color.Primary"
                                                 Icon="@Icons.Material.Outlined.Info" />
                                    </ChildContent>
                                    <TooltipContent>
                                        <MudStack Class="pa-2">
                                            <MudText Typo="Typo.h5" Align="Align.Start">@context.Item.Name</MudText>
                                            <MudText Typo="Typo.subtitle1" Align="Align.Start" Style="font-family: monospace; font-size: medium;">@context.Item.Description</MudText>
                                            <table>
                                                <tr>
                                                    <td><MudText Typo="Typo.body2" Align="Align.Start" Class="pr-8">@Localizer.Action.Source</MudText></td>
                                                    <td><MudText Typo="Typo.body2" Align="Align.End" Style="font-family: monospace; font-size: medium;">@context.Item.Source</MudText></td>
                                                </tr>
                                                <tr>
                                                    <td><MudText Typo="Typo.body2" Align="Align.Start" Class="pr-8">@Localizer.Action.Namespace</MudText></td>
                                                    <td><MudText Typo="Typo.body2" Align="Align.End" Style="font-family: monospace; font-size: medium;">@context.Item.Namespace</MudText></td>
                                                </tr>
                                                <tr>
                                                    <td><MudText Typo="Typo.body2" Align="Align.Start" Class="pr-8">@Localizer.Action.Categories</MudText></td>
                                                    <td><MudText Typo="Typo.body2" Align="Align.End" Style="font-family: monospace; font-size: medium;">
                                                        @string.Join(", ", context.Item.Categories as IEnumerable<string>)
                                                    </MudText></td>
                                                </tr>
                                            </table>
                                            @if (context.Item.Parameters != null && context.Item.Parameters.Any())
                                            {
                                                <MudText Typo="Typo.h6" Align="Align.Start">@Localizer.Action.Parameters</MudText>
                                                <table>
                                                    @foreach (var parameter in context.Item.Parameters)
                                                    {
                                                        <tr>
                                                            <td><MudText Typo="Typo.body2" Align="Align.Start" Class="pr-8" Style="font-family: monospace; font-size: medium;">@parameter.Name</MudText></td>
                                                            <td><MudText Typo="Typo.body2" Align="Align.End">@parameter.Description</MudText></td>
                                                        </tr>
                                                    }
                                                </table>
                                            }
                                            @if (context.Item.Issues != null && context.Item.Issues.Any())
                                            {
                                                <MudText Typo="Typo.h6" Align="Align.Start">@Localizer.Action.Issues</MudText>
                                                <table>
                                                    @foreach (var issue in context.Item.Issues)
                                                    {
                                                        <tr>
                                                            <td><MudText Typo="Typo.body2" Align="Align.Start" Class="pr-8">@issue.Name</MudText></td>
                                                            <td><MudText Typo="Typo.body2" Align="Align.End" Style="font-family: monospace; font-size: medium;">@issue.Message</MudText></td>
                                                        </tr>
                                                    }
                                                </table>
                                            }
                                        </MudStack>
                                    </TooltipContent>
                                </MudTooltip>
                                <MudTooltip Delay="1000" Text="@Localizer.Action.AppendAction" Placement="Placement.Top">
                                    <MudIconButton @onclick="@(() => ApplyAction(context.Item))"
                                                   Color="Color.Tertiary"
                                                   Variant="@Globals.ButtonVariant"
                                                   Icon="@Icons.Material.Filled.Add"
                                                   Size="Size.Small" />
                                </MudTooltip>
                            </MudStack>
                        </CellTemplate>
                    </TemplateColumn>

                </Columns>
                <NoRecordsContent>
                    @Localizer.Action.NotAvailable
                </NoRecordsContent>
            </MudDataGrid>
        </MudForm>
    </DialogContent>
    <DialogActions>
        <div class="d-flex flex-grow-1 mx-4 mb-2 gap-2">
            <MudTooltip Placement="Placement.Top">
                <ChildContent>
                    <MudIcon Color="Color.Primary" Icon="@Icons.Material.Outlined.Help" />
                </ChildContent>
                <TooltipContent>
                    @* ReSharper disable once Html.PathError *@
                    <img src="/images/CaseActions.png" style="max-width: 60em" alt="Case Actions"/>
                </TooltipContent>
            </MudTooltip>
            <MudSpacer />
            <MudButton Variant="@Globals.ButtonVariant" OnClick="Cancel">@Localizer.Dialog.Cancel</MudButton>
            <MudButton Variant="@Globals.ButtonVariant" Color="Color.Primary" OnClick="Submit">@Localizer.Dialog.Ok</MudButton>
        </div>
    </DialogActions>
</MudDialog>