<MudInputLabel>@Field.ActionLabel</MudInputLabel>

@if (!Actions.Any())
{
    <div class="d-flex flex-grow-1 pb-2">
        @Localizer.Shared.None
        <div class="d-flex flex-grow-1 justify-end">
            <MudTooltip Delay="@Globals.TooltipDelay" Text="@Localizer.Item.AddHelp(Localizer.Action.Action)" Placement="Placement.Top">
                <MudIconButton @onclick="@AddActionAsync"
                               Color="Color.Tertiary"
                               Variant="@Globals.ToolButtonVariant"
                               Icon="@Icons.Material.Filled.Add"
                               Size="Size.Small" />
            </MudTooltip>
        </div>
    </div>
    return;
}

<MudDataGrid @ref="@Grid"
             T="ActionItem"
             Height="12em"
             FixedHeader="true"
             Items="@Actions"
             Dense="true"
             Filterable="false"
             ShowColumnOptions="false"
             ShowFilterIcons="false"
             ReadOnly="@Item.IsReadOnlyField(Field)"
             SelectedItemChanged="SelectedActionChanged">
    <Columns>
        <PropertyColumn Property="x => x.Index" Hidden="true" />
        <PropertyColumn Property="x => x.Action" Title="@Localizer.Action.Action"
                        CellStyle="font-family: monospace; font-size: medium;">
            <CellTemplate>
                <span style="@(context.Item.Action.Trim().StartsWith('#') ? "font-style: italic" : "")">
                    @context.Item.Action
                </span>
            </CellTemplate>
        </PropertyColumn>
        <TemplateColumn T="ActionItem" CellClass="d-flex justify-end" ShowColumnOptions="false"
                        ShowFilterIcon="false" Sortable="false">
            <HeaderTemplate>
                <MudStack Row="true" Justify="Justify.FlexEnd" Class="d-flex flex-grow-1">
                    <MudTooltip Delay="@Globals.TooltipDelay" Text="@Localizer.Item.AddHelp(Localizer.Action.Action)" Placement="Placement.Top">
                        <MudIconButton @onclick="@AddActionAsync"
                                       Color="Color.Tertiary"
                                       Variant="@Globals.ToolButtonVariant"
                                       Icon="@Icons.Material.Filled.Add"
                                       Size="Size.Small" />
                    </MudTooltip>
                </MudStack>
            </HeaderTemplate>
            <FilterTemplate />
            <CellTemplate>
                <MudStack Row="true">
                    <MudTooltip Delay="@Globals.TooltipDelay" Text="@Localizer.Item.RemoveHelp(Localizer.Action.Action)" Placement="Placement.Top">
                        <MudIconButton @onclick="@(() => RemoveActionAsync(context.Item))"
                                       Color="Color.Secondary"
                                       Variant="@Globals.ToolButtonVariant"
                                       Icon="@Icons.Material.Filled.Remove"
                                       Size="Size.Small" />
                    </MudTooltip>
                    @if (CanMoveActionUp(context.Item))
                    {
                        <MudTooltip Delay="@Globals.TooltipDelay" Text="@Localizer.Action.MoveUp" Placement="Placement.Top">
                            <MudIconButton @onclick="@(() => MoveActionUpAsync(context.Item))"
                                           Color="Color.Tertiary"
                                           Variant="@Globals.ToolButtonVariant"
                                           Icon="@Icons.Material.Filled.KeyboardArrowUp"
                                           Size="Size.Small" />
                        </MudTooltip>
                    }
                    @if (CanMoveActionDown(context.Item))
                    {
                        <MudTooltip Delay="@Globals.TooltipDelay" Text="@Localizer.Action.MoveDown" Placement="Placement.Top">
                            <MudIconButton @onclick="@(() => MoveActionDownAsync(context.Item))"
                                           Color="Color.Tertiary"
                                           Variant="@Globals.ToolButtonVariant"
                                           Icon="@Icons.Material.Filled.KeyboardArrowDown"
                                           Size="Size.Small" />
                        </MudTooltip>
                    }
                    <MudTooltip Delay="@Globals.TooltipDelay" Text="@Localizer.Item.EditHelp(Localizer.Action.Action)" Placement="Placement.Top">
                        <MudIconButton @onclick="@(() => EditActionAsync(context.Item))"
                                       Color="Color.Primary"
                                       Variant="@Globals.ToolButtonVariant"
                                       Icon="@Icons.Material.Filled.Edit"
                                       Size="Size.Small" />
                    </MudTooltip>
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
    <NoRecordsContent>
        @Localizer.Action.NotAvailable
    </NoRecordsContent>
</MudDataGrid>
