<MudInputLabel>@Field.ActionLabel</MudInputLabel>

@if (!Actions.Any())
{
    <div class="d-flex flex-grow-1 pb-2">
        @Localizer.Shared.None
        <div class="d-flex flex-grow-1 justify-end">
            <MudTooltip Delay="500" Text="@Localizer.Item.AddHelp(Localizer.Action.Action)" Placement="Placement.Top">
                <MudIconButton @onclick="@AddActionAsync"
                               Color="Color.Tertiary" Variant="Variant.Outlined"
                               Icon="@Icons.Material.Filled.Add"
                               Size="Size.Small" />
            </MudTooltip>
        </div>
    </div>
    return;
}

<MudDataGrid @ref="Grid" T="ActionItem" Height="12em" FixedHeader="true"
             Items="@Actions"
             Dense="true"
             Filterable="false"
             ShowColumnOptions="false"
             ShowFilterIcons="false"
             ReadOnly="@Item.IsReadOnlyField(Field)"
             SelectedItemChanged="SelectedActionChanged">
    <Columns>
        <PropertyColumn Property="x => x.Index" Hidden="true" />
        <PropertyColumn Property="x => x.Action" Title="@Localizer.Action.Action"
                        CellStyle="font-family: monospace; font-size: medium;" />
        <TemplateColumn T="ActionItem" CellClass="d-flex justify-end" ShowColumnOptions="false"
                        ShowFilterIcon="false" Sortable="false">
            <HeaderTemplate>
                <MudStack Row="true" Justify="Justify.FlexEnd" Class="d-flex flex-grow-1">
                    <MudTooltip Delay="500" Text="@Localizer.Item.AddHelp(Localizer.Action.Action)" Placement="Placement.Top">
                        <MudIconButton @onclick="@AddActionAsync"
                                       Color="Color.Tertiary" Variant="Variant.Outlined"
                                       Icon="@Icons.Material.Filled.Add"
                                       Size="Size.Small" />
                    </MudTooltip>
                </MudStack>
            </HeaderTemplate>
            <FilterTemplate />
            <CellTemplate>
                <MudStack Row="true">
                    <MudTooltip Delay="500" Text="@Localizer.Item.DeleteHelp(Localizer.Action.Action)" Placement="Placement.Top">
                        <MudIconButton @onclick="@(() => DeleteActionAsync(context.Item))"
                                       Color="Color.Secondary" Variant="Variant.Outlined"
                                       Icon="@Icons.Material.Filled.Delete" Size="Size.Small" />
                    </MudTooltip>
                    @if (CanMoveActionUp(context.Item))
                    {
                        <MudTooltip Delay="500" Text="@Localizer.Action.MoveUp" Placement="Placement.Top">
                            <MudIconButton @onclick="@(() => MoveActionUpAsync(context.Item))"
                                           Color="Color.Tertiary" Variant="Variant.Outlined"
                                           Icon="@Icons.Material.Filled.KeyboardArrowUp" Size="Size.Small" />
                        </MudTooltip>
                    }
                    @if (CanMoveActionDown(context.Item))
                    {
                        <MudTooltip Delay="500" Text="@Localizer.Action.MoveDown" Placement="Placement.Top">
                            <MudIconButton @onclick="@(() => MoveActionDownAsync(context.Item))"
                                           Color="Color.Tertiary" Variant="Variant.Outlined"
                                           Icon="@Icons.Material.Filled.KeyboardArrowDown" Size="Size.Small" />
                        </MudTooltip>
                    }
                    <MudTooltip Delay="500" Text="@Localizer.Item.EditHelp(Localizer.Action.Action)" Placement="Placement.Top">
                        <MudIconButton @onclick="@(() => EditActionAsync(context.Item))"
                                       Color="Color.Primary" Variant="Variant.Outlined"
                                       Icon="@Icons.Material.Filled.Edit" Size="Size.Small" />
                    </MudTooltip>
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
    <NoRecordsContent>
        @Localizer.Action.NotAvailable
    </NoRecordsContent>
</MudDataGrid>
