@using PayrollEngine.Client.Model

<MudInputLabel>@Item.GetItemLabel(Field, Localizer)</MudInputLabel>

@if (!References.Any())
{
    <div class="d-flex flex-grow-1 pb-2">
        @Localizer.Shared.None
        <div class="d-flex flex-grow-1 justify-end">
            <MudTooltip Delay="1000" Text="@Localizer.Item.AddHelp(Localizer.Case.BaseCaseField)" Placement="Placement.Top">
                <MudIconButton @onclick="@CreateReferenceAsync"
                               Color="Color.Tertiary" 
                               Variant="@Globals.ButtonVariant"
                           Icon="@Icons.Material.Filled.Add"
                           Size="Size.Small" />
            </MudTooltip>
        </div>
    </div>
    return;
}

<MudDataGrid T="CaseFieldReference"
             Items="@References"
             Dense="true"
             ReadOnly="@Item.IsReadOnlyField(Field)">
    <Columns>
        <PropertyColumn Property="x => x.Name" Title="@Localizer.Case.BaseCaseField" />
        <PropertyColumn Property="x => x.Order" Title="@Localizer.Shared.Order" />
        <TemplateColumn T="CaseFieldReference" CellClass="d-flex justify-end" ShowColumnOptions="false"
                        ShowFilterIcon="false" Sortable="false">
            <HeaderTemplate>
                <MudStack Row="true" Justify="Justify.FlexEnd" Class="d-flex flex-grow-1">
                    <MudTooltip Delay="1000" Text="@Localizer.Item.AddHelp(Localizer.Case.BaseCaseField)" Placement="Placement.Top">
                        <MudIconButton @onclick="@CreateReferenceAsync"
                                       Color="Color.Tertiary" 
                                       Variant="@Globals.ButtonVariant"
                                       Icon="@Icons.Material.Filled.Add"
                                       Size="Size.Small" />
                    </MudTooltip>
                </MudStack>
            </HeaderTemplate>
            <FilterTemplate />
            <CellTemplate>
                <MudStack Row="true">
                    <MudTooltip Delay="1000" Text="@Localizer.Item.RemoveHelp(Localizer.Case.BaseCaseField)" Placement="Placement.Top">
                        <MudIconButton @onclick="@(() => RemoveReferenceAsync(context.Item))"
                                       Color="Color.Secondary" 
                                       Variant="@Globals.ButtonVariant"
                                       Icon="@Icons.Material.Filled.Remove"
                                       Size="Size.Small" />
                    </MudTooltip>
                    <MudTooltip Delay="1000" Text="@Localizer.Item.EditHelp(Localizer.Case.BaseCaseField)" Placement="Placement.Top">
                        <MudIconButton @onclick="@(() => UpdateReferenceAsync(context.Item))"
                                       Color="Color.Primary" 
                                       Variant="@Globals.ButtonVariant"
                                       Icon="@Icons.Material.Filled.Edit" 
                                       Size="Size.Small" />
                    </MudTooltip>
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
</MudDataGrid>
