@using PayrollEngine.Client.Model

<MudInputLabel>@Item.GetItemLabel(Field, Localizer)</MudInputLabel>

@if (!CaseSlots.Any())
{
    <div class="d-flex flex-grow-1 pb-2">
        @Localizer.Shared.None
        <div class="d-flex flex-grow-1 justify-end">
            <MudTooltip Delay="1000" Text="@Localizer.Item.AddHelp(Localizer.CaseSlot.CaseSlot)" Placement="Placement.Top">
                <MudIconButton @onclick="@AddCaseSlotAsync"
                               Color="Color.Tertiary"
                               Variant="@Globals.ButtonVariant"
                               Icon="@Icons.Material.Filled.Add"
                               Size="Size.Small" />
            </MudTooltip>
        </div>
    </div>
    return;
}

<MudDataGrid T="CaseSlot"
             Items="@CaseSlots"
             ReadOnly="@Item.IsReadOnlyField(Field)">
    <Columns>
        <PropertyColumn Property="x => x.Name" Title="@Localizer.Shared.Name" />
        <TemplateColumn T="CaseSlot" CellClass="d-flex justify-end" ShowColumnOptions="false"
                        ShowFilterIcon="false" Sortable="false">
            <HeaderTemplate>
                <MudStack Row="true" Justify="Justify.FlexEnd" Class="d-flex flex-grow-1">
                    <MudTooltip Delay="1000" Text="@Localizer.Item.AddHelp(Localizer.CaseSlot.CaseSlot)" Placement="Placement.Top">
                        <MudIconButton @onclick="@AddCaseSlotAsync"
                                       Color="Color.Tertiary"
                                       Variant="@Globals.ButtonVariant"
                                       Icon="@Icons.Material.Filled.Add"
                                       Size="Size.Small" />
                    </MudTooltip>
                </MudStack>
            </HeaderTemplate>
            <FilterTemplate />
            <CellTemplate>
                <MudStack Row="true">
                    <MudTooltip Delay="1000" Text="@Localizer.Item.RemoveHelp(Localizer.CaseSlot.CaseSlot)" Placement="Placement.Top">
                        <MudIconButton @onclick="@(() => RemoveCaseSlotAsync(context.Item))"
                                       Color="Color.Secondary"
                                       Variant="@Globals.ButtonVariant"
                                       Icon="@Icons.Material.Filled.Remove"
                                       Size="Size.Small" />
                    </MudTooltip>
                    <MudTooltip Delay="1000" Text="@Localizer.Item.EditHelp(Localizer.CaseSlot.CaseSlot)" Placement="Placement.Top">
                        <MudIconButton @onclick="@(() => EditCaseSlotAsync(context.Item))"
                                       Color="Color.Primary"
                                       Variant="@Globals.ButtonVariant"
                                       Icon="@Icons.Material.Filled.Edit"
                                       Size="Size.Small" />
                    </MudTooltip>
                </MudStack>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
    <NoRecordsContent>
        @Localizer.CaseSlot.NotAvailable
    </NoRecordsContent>
</MudDataGrid>
