@using PayrollEngine.WebApp.Presentation.Field
@using PayrollEngine.Document

<MudDialog Style="min-width: 30em;">
    <DialogContent>

        @* report name and description *@
        <MudPaper Elevation="4" Class="pa-4">
            <MudText Typo="Typo.h5">@Localizer.Report.Report @ReportName</MudText>
            @if (HasDescription)
            {
                <MudText Typo="Typo.h6">@ReportDescription</MudText>
            }
        </MudPaper>

        @* report parameters *@
        @if (HasVisibleParameters())
        {
            <MudPaper Elevation="4" Class="pa-4 mt-8 mb-4">
                <MudText Typo="Typo.h5">@Localizer.Report.Parameters</MudText>
                <MudForm @ref="form">
                    <FieldEditorStack Fields="@Report.ViewParameters" Culture="@Culture" Spacing="4"

                                      Disabled="@Started" />
                </MudForm>
            </MudPaper>
        }

        @* download notification *@
        <div class="mb-8">
            @if (Executing)
            {
                <MudText Class="pb-4">@Localizer.Report.PreparingDownload</MudText>
                <MudProgressLinear Color="Color.Info" Rounded="true"
                                   Class="mud-table-loading-progress"
                                   Indeterminate="true" Size="Size.Large" />
            }
            @if (Failed)
            {
                <MudText Color="Color.Error">@Localizer.Report.ExecutionError</MudText>
                <MudText>@ErrorMessage</MudText>
            }
            else if (Completed)
            {
                <MudText Color="Color.Success">@Localizer.Shared.DownloadCompleted</MudText>
                <MudText Color="Color.Success" Typo="Typo.caption">@DownloadFileName</MudText>
            }
        </div>
    </DialogContent>
    <DialogActions>
        <MudStack Row="true" Spacing="0" Class="pa-1 gap-2">
            @* download buttons *@
            @if (!Completed && !Failed)
            {
                @* XML *@
                <MudButton Variant="Variant.Outlined"
                           Color="Color.Tertiary"
                           Disabled="@Started"
                           OnClick="@(() => StartAsync(DocumentType.Xml))">
                    @Localizer.Report.Xml
                </MudButton>

                @* XML Raw *@
                <MudButton Variant="Variant.Outlined"
                           Color="Color.Tertiary"
                           Disabled="@Started"
                           OnClick="@(() => StartAsync(DocumentType.XmlRaw))">
                    @Localizer.Report.XmlRaw
                </MudButton>

                @* Excel *@
                @if (SupportedDocumentType(DocumentType.Excel))
                {
                    <MudButton Variant="Variant.Outlined"
                               Color="Color.Tertiary"
                               Disabled="@Started"
                               OnClick="@(() => StartAsync(DocumentType.Excel))">
                        @Localizer.Report.Excel
                    </MudButton>
                }

                @* Word *@
                @if (SupportedDocumentType(DocumentType.Word))
                {
                    <MudButton Variant="Variant.Outlined"
                               Color="Color.Tertiary"
                               Disabled="@Executing"
                               OnClick="@(() => StartAsync(DocumentType.Word))">
                        @Localizer.Report.Word
                    </MudButton>
                }

                @* Pdf *@
                @if (SupportedDocumentType(DocumentType.Pdf))
                {
                    <MudButton Variant="Variant.Outlined"
                               Color="Color.Tertiary"
                               Disabled="@Executing"
                               OnClick="@(() => StartAsync(DocumentType.Pdf))">
                        @Localizer.Report.Pdf
                    </MudButton>
                }
            }

            @* close button *@
            <MudButton Variant="Variant.Outlined" OnClick="Close" Class="ml-8">@Localizer.Dialog.Close</MudButton>
        </MudStack>
    </DialogActions>
</MudDialog>
