@page "/regulation"
@using PayrollEngine.WebApp.Presentation.Component
@using PayrollEngine.WebApp.Presentation.Regulation.Component
@using PayrollEngine.WebApp.Presentation.Regulation.Editor

@inherits PageBase

@* missing feature *@
@if (!HasFeature(Feature.Regulation))
{
    NavigateHome();
    return;
}

<MudText Typo="Typo.h5" Class="my-4 pb-2 pt-8">@Localizer.Regulation.Regulation @TopRegulationName</MudText>

@* missing tenant *@
@if (!HasTenant)
{
    <div>@Localizer.App.SelectTenant</div>
    return;
}
@* missing payroll *@
@if (!HasPayroll)
{
    <div>@Localizer.App.SelectPayroll</div>
    return;
}
@* missing regulations *@
@if (!HasRegulations)
{
    <div>@Localizer.Regulation.Missing</div>
    return;
}

<MudButtonGroup OverrideStyles="false" DisableElevation="true">
    @* case and case field*@
    <MudButton OnClick="CaseSelected"
               Color="Color.Primary"
               Class="px-4"
               Style="text-transform: capitalize;"
               Variant="@CaseVariant">
        @GetItemsLabel(SelectedCaseType)
    </MudButton>
    <MudMenu Icon="@Icons.Material.Filled.ArrowDropDown"
             Color="Color.Primary"
             Dense="true"
             DisableElevation="true"
             Style="text-transform: capitalize; width: 2em; display: grid; align-self: initial;"
             AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight"
             Variant="@CaseVariant">
        <MudMenuItem OnClick="() => SetWorkingType(RegulationItemType.Case)"
                     Style="text-transform: capitalize;">
            @GetItemsLabel(RegulationItemType.Case)
        </MudMenuItem>
        <MudMenuItem OnClick="() => SetWorkingType(RegulationItemType.CaseField)"
                     Style="text-transform: capitalize;">
            @GetItemsLabel(RegulationItemType.CaseField)
        </MudMenuItem>
    </MudMenu>

    @* case relation *@
    <MudButton OnClick="() => SetWorkingType(RegulationItemType.CaseRelation)"
               Color="Color.Primary"
               Class="px-4"
               Style="text-transform: capitalize;"
               Variant="@CaseRelationVariant">
        @GetItemsLabel(RegulationItemType.CaseRelation)
    </MudButton>

    @* collector *@
    <MudButton OnClick="() => SetWorkingType(RegulationItemType.Collector)"
               Color="Color.Primary"
               Class="px-4"
               Style="text-transform: capitalize;"
               Variant="@CollectorVariant">
        @GetItemsLabel(RegulationItemType.Collector)
    </MudButton>

    @* wage type *@
    <MudButton OnClick="() => SetWorkingType(RegulationItemType.WageType)"
               Color="Color.Primary"
               Class="px-4"
               Style="text-transform: capitalize;"
               Variant="@WageTypeVariant">
        @GetItemsLabel(RegulationItemType.WageType)
    </MudButton>

    @* report *@
    <MudButton OnClick="ReportSelected"
               Color="Color.Primary"
               Class="px-4"
               Style="text-transform: capitalize;"
               Variant="@ReportVariant">
        @GetItemsLabel(SelectedReportType)
    </MudButton>
    <MudMenu Icon="@Icons.Material.Filled.ArrowDropDown"
             Color="Color.Primary"
             Dense="true"
             DisableElevation="true"
             Style="text-transform: capitalize; width: 2em; display: grid; align-self: initial;"
             AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight"
             Variant="@ReportVariant">
        <MudMenuItem OnClick="() => SetWorkingType(RegulationItemType.Report)"
                     Style="text-transform: capitalize;">
            @GetItemsLabel(RegulationItemType.Report)
        </MudMenuItem>
        <MudMenuItem OnClick="() => SetWorkingType(RegulationItemType.ReportParameter)"
                     Style="text-transform: capitalize;">
            @GetItemsLabel(RegulationItemType.ReportParameter)
        </MudMenuItem>
        <MudMenuItem OnClick="() => SetWorkingType(RegulationItemType.ReportTemplate)"
                     Style="text-transform: capitalize;">
            @GetItemsLabel(RegulationItemType.ReportTemplate)
        </MudMenuItem>
    </MudMenu>

    @* lookup *@
    <MudButton OnClick="LookupSelected"
               Color="Color.Primary"
               Class="px-4"
               Style="text-transform: capitalize;"
               Variant="@LookupVariant">
        @GetItemsLabel(SelectedLookupType)
    </MudButton>
    <MudMenu Icon="@Icons.Material.Filled.ArrowDropDown"
             Color="Color.Primary"
             Dense="true"
             DisableElevation="true"
             Style="text-transform: capitalize; width: 2em; display: grid; align-self: initial;"
             AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight"
             Variant="@LookupVariant">
        <MudMenuItem OnClick="() => SetWorkingType(RegulationItemType.Lookup)"
                     Style="text-transform: capitalize;">
            @GetItemsLabel(RegulationItemType.Lookup)
        </MudMenuItem>
        <MudMenuItem OnClick="() => SetWorkingType(RegulationItemType.LookupValue)"
                     Style="text-transform: capitalize;">
            @GetItemsLabel(RegulationItemType.LookupValue)
        </MudMenuItem>
    </MudMenu>

    @* script *@
    <MudButton OnClick="() => SetWorkingType(RegulationItemType.Script)"
               Color="Color.Primary"
               Class="px-4"
               Style="text-transform: capitalize;"
               Variant="@ScriptVariant">
        @GetItemsLabel(RegulationItemType.Script)
    </MudButton>
</MudButtonGroup>

<div class="d-flex flex-grow-1 gap-4">
    <MudContainer Fixed="true" Class="pa-0 py-4">
        <ItemBrowser @ref="@ItemBrowser" EditContext="EditContext"
                     ItemType="@WorkingType" SelectedItem="@SelectedItem"
                     SelectedItemChanged="ChangeSelectedItem">
        </ItemBrowser>
    </MudContainer>
    <MudContainer Fixed="true" Class="pa-0 py-4">
        <ItemEditorPanel @ref="@ItemEditorPanel" EditContext="EditContext"
                         ItemType="@WorkingType" Item="@SelectedItem"
                         SaveItem="SaveItem"
                         DeleteItem="DeleteItem"
                         DeriveItem="DeriveItem">
        </ItemEditorPanel>
    </MudContainer>
</div>
