@page "/reports"

@using PayrollEngine.WebApp
@using PayrollEngine.WebApp.Presentation.Component
@using PayrollEngine.WebApp.ViewModel

@inherits PageBase

@if (!HasFeature(Feature.Reports))
{
    NavigateHome();
    return;
}

@if (!HasPayroll)
{
    <MudText Typo="Typo.h5" Class="my-4 pb-2 pt-8">@Localizer.Report.Reports</MudText>
    <div>@Localizer.App.SelectPayroll</div>
    return;
}

@* title *@
<MudText Typo="Typo.h5" Class=" pt-8">@Localizer.Report.Reports</MudText>

@* clusters and grid actions *@
<div class="d-flex pb-2 pt-2">

    @* report clusters *@
    @if (HasClusters)
    {
        <MudStack Row="true" Spacing="0" Class="d-flex align-center gap-4">
            <MudChipSet MultiSelection="false" SelectedChip="SelectedCluster"
                        SelectedChipChanged="SelectedClusterChanged" Class="pa-0">
                @foreach (var cluster in Clusters)
                {
                    <MudChip Text="@cluster"
                             Default="@string.Equals(cluster, ClusterAll)"
                             Variant="Variant.Outlined" SelectedColor="Color.Primary" />
                }
            </MudChipSet>
        </MudStack>
    }

    <div class="d-flex flex-grow-1 justify-end align-end">
        <MudTooltip Delay="500" Text="@Localizer.App.FilterReset" Placement="Placement.Top">
            <MudIconButton @onclick="@ResetFilterAsync"
                           Color="Color.Primary" Variant="Variant.Outlined"
                           Icon="@Icons.Material.Filled.FilterAltOff"
                           Class="ml-2"
                           Size="Size.Small" />
        </MudTooltip>
        <MudTooltip Delay="500" Text="@Localizer.Shared.ExcelDownload" Placement="Placement.Top">
            <MudIconButton @onclick="@ExcelDownloadAsync"
                           Color="Color.Primary" Variant="Variant.Outlined"
                           Icon="@Icons.Custom.FileFormats.FileExcel"
                           Class="ml-2"
                           Size="Size.Small" />
        </MudTooltip>
    </div>
</div>

@* reports grid *@
<MudDataGrid @ref="ReportsGrid" T="ReportSet"
             Items="AvailableReports"
             FilterMode="DataGridFilterMode.ColumnFilterRow"
             ColumnResizeMode="ResizeMode.Column"
             Filterable="true"
             Groupable="false"
             Hideable="false"
             ShowColumnOptions="false"
             SortMode="SortMode.Multiple">
    <Columns>
        <PropertyColumn Property="x => x.GetLocalizedName(PageCulture)" Title="@Localizer.Shared.Name" />
        <PropertyColumn Property="x => x.Description" Title="@Localizer.Shared.Description" />
        <PropertyColumn Property="x => x.Category" Title="@Localizer.Report.Category" />
        <PropertyColumn Property="x => x.Created" Title="@Localizer.Shared.ObjectCreated">
            <CellTemplate>
                @ValueFormatter.ToCompactString(context.Item.Created)
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.Updated" Title="@Localizer.Shared.ObjectUpdated">
            <CellTemplate>
                @ValueFormatter.ToCompactString(context.Item.Updated)
            </CellTemplate>
        </PropertyColumn>
        <CustomColumns T="ReportSet" Columns="ColumnConfiguration" />
        <ReportActionsColumn ActionOperator="this" />
    </Columns>
    <PagerContent>
        <MudDataGridPager T="ReportSet" RowsPerPageString="@Localizer.DataGrid.PagerRowsPerPage"
                          InfoFormat="@Localizer.DataGrid.PagerInfoFormat" />
    </PagerContent>
    <NoRecordsContent>
        @Localizer.Report.NotAvailable
    </NoRecordsContent>
</MudDataGrid>
