@page "/tasks"
@using PayrollEngine.WebApp.Presentation.Component

@inherits EditItemPageBase<ViewModel.Task, Query, Dialogs.TaskDialog>

@* missing feature *@
@if (!HasFeature(Feature.Tasks))
{
    NavigateHome();
    return;
}

<div class="d-flex pb-2 pt-8">
    <MudText Typo="Typo.h5">@Localizer.Task.Tasks</MudText>
    <div class="d-flex flex-grow-1 justify-end align-end">
        <MudStack Row="true" Spacing="0" Justify="Justify.FlexEnd" Class="d-flex flex-grow-1">
            <MudTooltip Delay="500" Text="@Localizer.Task.CompleteToggleHelp" Placement="Placement.Top">
                <MudSwitch T="bool" Value="@CompletedTasks" @onclick="@(ToggleTasksFilterAsync)"
                           LabelPosition="LabelPosition.Start"
                           Color="Color.Primary">
                    @Localizer.Task.CompleteToggle
                </MudSwitch>
            </MudTooltip>
            <MudTooltip Delay="500" Text="@Localizer.Shared.FilterReset" Placement="Placement.Top">
                <MudIconButton @onclick="@ResetFilterAsync"
                               Color="Color.Primary" Variant="Variant.Outlined"
                               Icon="@Icons.Material.Filled.FilterAltOff"
                               Class="ml-2"
                               Size="Size.Small" />
            </MudTooltip>
            <MudTooltip Delay="500" Text="@Localizer.Shared.ExcelDownload" Placement="Placement.Top">
                <MudIconButton @onclick="@ExcelDownloadAsync"
                               Color="Color.Primary" Variant="Variant.Outlined"
                               Icon="@Icons.Custom.FileFormats.FileExcel"
                               Class="ml-2"
                               Size="Size.Small" />
            </MudTooltip>
        </MudStack>
    </div>
</div>

<MudDataGrid @ref="ItemsGrid" T="ViewModel.Task"
             ServerData="GetServerDataAsync"
             EditMode="DataGridEditMode.Form"
             FilterMode="DataGridFilterMode.ColumnFilterRow"
             ColumnResizeMode="ResizeMode.Column"
             SortMode="SortMode.Multiple"
             Filterable="true"
             Hideable="true"
             ShowColumnOptions="true">
    <Columns>
        <PropertyColumn Property="x => x.Id" Editable="false" Filterable="false" Title="@Localizer.Shared.ObjectId" />
        <PropertyColumn Property="x => x.GetLocalizedName(User.Culture)" Title="@Localizer.Shared.Name" />
        <PropertyColumn Property="x => x.Category" Title="@Localizer.Task.Category" />
        <PropertyColumn Property="x => x.InstructionText" ShowColumnOptions="false" Title="@Localizer.Task.Instruction"
                        ShowFilterIcon="false" Filterable="false" />
        <PropertyColumn Property="x => x.Scheduled" Title="@Localizer.Task.ScheduledDate"
                        InitialDirection="SortDirection.Ascending">
            <CellTemplate>
                @ValueFormatter.ToCompactString(context.Item.Scheduled)
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.Completed" Title="@Localizer.Task.CompletedDate" />
        <PropertyColumn Property="x => x.Created" Title="@Localizer.Shared.ObjectCreated">
            <CellTemplate>
                @ValueFormatter.ToCompactString(context.Item.Created)
            </CellTemplate>
        </PropertyColumn>
        <PropertyColumn Property="x => x.Updated" Title="@Localizer.Shared.ObjectUpdated">
            <CellTemplate>
                @ValueFormatter.ToCompactString(context.Item.Updated)
            </CellTemplate>
        </PropertyColumn>
        <CustomColumns T="ViewModel.Task" Columns="ColumnConfiguration" />
        <TaskActionsColumn ActionOperator="this" />
    </Columns>
    <PagerContent>
        <MudDataGridPager T="ViewModel.Task" RowsPerPageString="@Localizer.DataGrid.PagerRowsPerPage"
                          InfoFormat="@Localizer.DataGrid.PagerInfoFormat" />
    </PagerContent>
    <NoRecordsContent>
        @Localizer.Task.NotAvailable
    </NoRecordsContent>
</MudDataGrid>
