@using CaseChangeCaseValue = PayrollEngine.WebApp.ViewModel.CaseChangeCaseValue
@using PayrollEngine.WebApp.Shared
@using System.Globalization

<MudDialog style="min-width: 40em">
    <DialogContent>
        @if (CaseChangeValues.Any())
        {
            var caseChange = CaseChangeValues.First();
            <MudSimpleTable Dense="true" Class="py-4">
                <tbody>
                    <tr>
                        <td style="width: 30%">@Localizer.User.User</td>
                        <td>@caseChange.UserIdentifier</td>
                    </tr>
                    <tr>
                        <td>@Localizer.Shared.ObjectCreated</td>
                        <td>@caseChange.Created.ToCompactString()</td>
                    </tr>
                    <tr>
                        <td>@Localizer.CaseChange.Reason</td>
                        <td>@caseChange.Reason</td>
                    </tr>
                </tbody>
            </MudSimpleTable>
            <MudSimpleTable Dense="true" Class="py-4">
                <thead>
                    <tr>
                        <th>@Localizer.Shared.Field</th>
                        <th>@Localizer.Shared.Value</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var caseValue in CaseChangeValues)
                    {
                        <tr>
                            <td style="width: 30%">@Culture.Name.GetLocalization(caseValue.CaseFieldNameLocalizations, caseValue.CaseFieldName)</td>
                            <td>@ValueFormatter.ToString(caseValue.Value, caseValue.ValueType, Culture)</td>
                        </tr>
                    }
                </tbody>
            </MudSimpleTable>
        }
        else
        {
            <span>@Localizer.CaseValue.NotAvailable</span>
        }
    </DialogContent>
    <DialogActions>
        <MudStack Row="true" Spacing="0" Class="mx-4 mb-2 gap-2">
            <MudButton Variant="Variant.Outlined" OnClick="Cancel">@Localizer.Dialog.Cancel</MudButton>
            <MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="Submit">@Localizer.CaseChange.Undo</MudButton>
        </MudStack>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter] public List<CaseChangeCaseValue> CaseChangeValues { get; set; } = new();
    [Parameter] public IValueFormatter ValueFormatter { get; set; }
    [Parameter] public CultureInfo Culture { get; set; }
    [Inject] private Localizer Localizer { get; set; }

    private void Cancel() => MudDialog.Cancel();
    private void Submit() => MudDialog.Close(DialogResult.Ok(true));
}