@using PayrollEngine.Client
@using PayrollEngine.WebApp.Presentation
@using PayrollEngine.WebApp.Presentation.Component

@inject IThemeService ThemeService;

<MudSelect T="ObjectStatus" Label="Status" @bind-Value="Item.Status">
    <EnumSelectItems T="ObjectStatus" />
</MudSelect>
@if (Item.IsExistingObject)
{
    <MudText Class="d-flex flex-grow-1 justify-center mt-3 py-1 px-4 rounded" Typo="Typo.overline" Align="Align.Center"
         Style="@($"color:{ThemeService.Palette.TextPrimary}; background:{ThemeService.Palette.BackgroundGrey};")">
        @Localizer.Shared.ObjectId @Item.Id&nbsp;&#x2022;&nbsp;@Localizer.Shared.ObjectCreated @Item.Created.ToLocalTime().ToCompactString()
        @if (Item.Created != Item.Updated)
        {
            <span>&nbsp;&#x2022;&nbsp;@Localizer.Shared.ObjectUpdated @Item.Updated.ToLocalTime().ToCompactString()</span>
        }
    </MudText>
}

@code {
    [Parameter] public IModel Item { get; set; }
    [Inject] private Localizer Localizer { get; set; }
}
